*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: linear-gradient(-50deg, rgb(35, 20, 20) 0%, rgb(125, 93, 93)100%);
  height: 100vh;
}
#app{
  width: 100%;
  height: fit-content;
}
.mainTitle{
  font-size: 20px;
}
.uploadCon{
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 180px;
  flex-direction: row;
  align-items: center;
  color: white;
  z-index: 3;
  background-color: rgba(41, 23, 23, 0.667);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.324);
}
input{
  width: 300px;
  height: 40px;
  border: none;
  font-size: 20px;
  background-color: rgba(92, 59, 59, 0.667);
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.311);
  border-radius: 2px;
}
input::placeholder{
  font-size: 20px;
}
form{
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  align-items: center;
}
button{
  width: 100px;
  height: 40px;
  font-size: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.42);
  background-color: rgba(179, 161, 135, 0.637);
  border: none;
}

img{
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 720px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.swiperWrapperCon{
  display: flex;
  justify-content: center;
  width: 100%;
  filter: drop-shadow(20px 20px 30px black);
  backdrop-filter: blur(10px);
}
.leftCon{
  width: fit-content;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(104, 79, 128, 0.105);
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}
.infoCon{
  width: 300px;
  height: 415px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-shadow: 1px 1px 2px black;
}
p{
  margin-top: 10px;
}
p::first-line{
  font-weight: 700;
}
.pTitle{
  font-size: 30px;
  width: 100%;
}

.slideDataCon{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction:row;
  width: 100%;
  height: fit-content
}
.delBtnIMG{
  width: fit-content;
  height: 40px;
  object-fit: cover;
  
  filter: drop-shadow(1px 1px 1px black);
}
button{
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 30px;
  text-shadow:1px 1px 1px black;
  border-radius: 10px;
}
button:hover{
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

.checkBox{
  width: 400px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.55);
  animation: boxShow 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
  border-radius: 10px;
}
.hideCheckBox{
  width: 400px;
  height: 200px;
  background-color: rgb(118, 118, 118);
  animation: boxHide 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
  border-radius: 10px;
}
  .boxCon{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 4;
  }
@keyframes boxShow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes boxHide {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.btnCon{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yesBtn,.noBtn{
  width: 150px;
  height: 60px;
  font-size: 30px;
}

.slideDataCon{
  padding: 40px;
}

.loader {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #ffffff inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}
    
.loaderCon{
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(35, 20, 20);
}

.noLoaderCon,.noLoader{
  display: none;
}

@media screen and (max-width: 820px) {
  img {
    width: 320px;
    height: 200px;
    position: absolute;
    top: 50px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;
  }
  .uploadCon{
    flex-direction: column;
    height: 300px;
    position: relative;
    gap:0px;
  }
  form{
    flex-direction: column;
  }
  .infoCon{
    justify-content: end;
  }
}